@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Comfortaa", sans-serif;
    height: 100vh;
}
h1{
    cursor: default;
}
#main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
#dailyPuzzle{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#dailyPuzzle > h1{
    margin-top: 20px;
}
.answer{
    width: 400px;
    height: 50px;
    font-size: 30px;
    margin: 40px auto;
}
.checkBtn{
    width: 100px;
    height: 50px;
    position: relative;
    top: -6px;
    color: white;
    background-color: rgb(47, 136, 47);
    border: 2px solid rgb(66, 153, 66);
}
.checkBtn:hover{
    background-color: green;
    border: 2px solid green;
}
.image{
    width: 500px;
    height: 500px;
    margin-top: 50px;
    background-image: url("../images/puzzle1Page1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#otherPuzzles{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#otherPuzzles > h1{
    margin: 40px auto;
}
#otherPuzzles > h1{
    cursor: pointer;
}
.wrongAnswer{
    border: 3px solid red;
    background-color: rgb(234, 124, 124);
}
.allRight{
    border: 3px solid green;
    background-color: rgb(0, 183, 43);
}
.hide{
    display: none;
}
#range{
    width: 200px;
    height: 40px;
    font-size: 25px;
    position: absolute;
    top: 50px;
}
.rangeLabel{
    font-size: 25px;
    position: absolute;
    top: 10px;
}
#mates1{
    margin-top: 50px;
}
#submit{
    width: 110px;
    height: 40px;
    position: absolute;
    top: 50px;
    right: 150px;
    font-size: 20px;
}