*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
#sec1{
    height: 100vh;
    background-image: url("./images/chessImage.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
#overlay{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 30px;
    position: relative;
}
#learnChessBtn{
    width: 180px;
    height: 50px;
    position: absolute;
    bottom: 130px;
    left: 330px;
    background-color: #0A1F1A;
    border: 3px solid #0A1F1A;
    border-radius: 30px;
    color: white;
    transition: 0.3s;
}
#learnChessBtn:hover{
    background-color: #00960C;
    border: 3px solid #0A1F1A;
}